<div class="container_menu-bar">
  <ul>
    <li><a href="https://jujutsu-kaisen.fandom.com/wiki/Category:Media">Notícias</a></li>
    <li><span></span></li>
    <li><a href="https://jujutsu-kaisen.fandom.com/wiki/Jujutsu_Kaisen#Characters">Personagens</a></li>
    <li><span></span></li>
    <li><a href="https://jujutsu-kaisen.fandom.com/wiki/Cursed_Technique">Feitiços</a></li>
    <li><span></span></li>
    <li><a href="https://jujutsu-kaisen.fandom.com/wiki/Jujutsu_Kaisen_0:_Jujutsu_High">Jujutsu Kaisen 0</a></li>
    <li><span></span></li>
    <li><a href="https://jujutsu-kaisen.fandom.com/wiki/Category:Media">Adaptações</a></li>
    <li><span></span></li>
    <li><a href="https://jujutsu-kaisen.fandom.com/wiki/Jujutsu_Kaisen">Sobre a obra</a></li>
  </ul>
</div>
